Repository Pasdaven/Gcard, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, test, database

feat: set db name at .env file (#147)
  .github/workflows/maven.yml
  backend/.env.example
  backend/src/main/resources/application.properties
Labels: backend, ci

fix: api's format change
  frontend/src/pages/Post.jsx
Labels: frontend

fix: api's format change (#151)
  frontend/src/pages/Post.jsx
Labels: frontend

add Board.jsx BoardInfo.jsx AllBoardItem.jsx
  frontend/src/components/board/AllBoardItem.jsx
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/pages/Board.jsx
Labels: frontend

fix create post method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
Labels: backend

fix create post method (#153)
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
Labels: backend

feat: init auth in post page
  frontend/src/components/post/PostContent.jsx
  frontend/src/pages/Following.jsx
Labels: frontend

feat: redirect after success login
  frontend/src/pages/Login.jsx
Labels: frontend

fix delete Board method
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/repo/FollowBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

fix delete Board method (#154)
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/repo/FollowBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

.github/labeler.yml:

backend:
- backend/**/*

frontend:
- frontend/**/*

ci:
- .github/**/*

test:
- backend/src/test/**/*

database:
- backend/src/main/java/com/pasdaven/backend/model/**/*
