Repository Pasdaven/Gcard, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, test

init codecov
  .github/workflows/maven.yml
Labels: ci

Controller Test and other fixes (#128)
  backend/pom.xml
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
  backend/src/main/java/com/pasdaven/backend/service/FileSystemService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
  backend/src/test/java/com/pasdaven/backend/controller/ApplicationBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/CommentControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/InitSeedsTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserAccountControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
  backend/src/test/resources/seeds/application_boards.json
  backend/src/test/resources/seeds/boards.json
  backend/src/test/resources/seeds/comments.json
  backend/src/test/resources/seeds/posts.json
  backend/src/test/resources/seeds/users.json
Labels: backend, test

Merge test to codecov branch (#137)
  backend/pom.xml
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
  backend/src/main/java/com/pasdaven/backend/service/FileSystemService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
  backend/src/test/java/com/pasdaven/backend/controller/ApplicationBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/CommentControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/InitSeedsTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserAccountControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
  backend/src/test/resources/seeds/application_boards.json
  backend/src/test/resources/seeds/boards.json
  backend/src/test/resources/seeds/comments.json
  backend/src/test/resources/seeds/posts.json
  backend/src/test/resources/seeds/users.json
Labels: backend, test

feat: init codecov
  .github/workflows/maven.yml
Labels: ci

[Gcard-125] Init coverage report ci (#138)
  .github/workflows/maven.yml
Labels: ci

Add report badge to readme
  README.md
Labels: none

Add report badge to readme (#139)
  README.md
Labels: none

.github/labeler.yml:

backend:
- backend/**/*

frontend:
- frontend/**/*

ci:
- .github/**/*

test:
- backend/src/test/**/*
