Repository Pasdaven/Gcard, pull requests merged in 2022-12, with the labels that each got.

#11 feat : add create account method
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/model/UserAccountEntity.java
  backend/src/main/java/com/pasdaven/backend/model/UserEntity.java
  backend/src/main/java/com/pasdaven/backend/repo/UserAccountRepo.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
Labels: backend

#15 add react-router-dom
  frontend/package-lock.json
  frontend/package.json
Labels: npm-dependencies

#13 [Gcard-25] Database Board Table
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
Labels: backend

#18 [Gcard-71] add getAllBoard()
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/service/BoardService.java
Labels: backend

#19 [Gcard-44] add create post method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#22 Init sidebar and base layout
  frontend/package-lock.json
  frontend/package.json
  frontend/public/image/banner.png
  frontend/public/image/icon.png
  frontend/src/AllBoard.jsx
  frontend/src/App.js
  frontend/src/App.jsx
  frontend/src/Explore.jsx
  frontend/src/Following.jsx
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/components/sidebar/SidebarRaw.jsx
  frontend/src/index.js
  frontend/tailwind.config.js
Labels: ui, frontend

#24 update route and delete unused constructor parameter
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/model/PostEntity.java
Labels: refactor, backend

#23 [Gcard-79] add update post method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#30 [Gcard-77] add getAllUser and getUserById method.
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/model/UserEntity.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
Labels: backend

#31 [Gcard 83] add getAllUserAccount and getUserAccountById method
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/model/UserAccountEntity.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
Labels: backend

#33 [Gcard 69] add deletePost method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#34 [Gcard 85] add updateBoard method
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
Labels: backend

#32 [Gcard 80] add updateUser and updateUserAccount method
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: backend, need-review

#36 refactor: use final statement and constructor init
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: refactor

#29 add Price.jsx PriceItem.jsx App.jsx
  frontend/src/App.jsx
  frontend/src/components/price/Price.jsx
  frontend/src/components/price/PriceItem.jsx
Labels: need-fix, frontend

#37 fix: eslint doesn't work at any file in `/src`
  frontend/.eslintrc.json
  frontend/package.json
Labels: bug, ci

#35 [Gcard 61] add addFollowUser method
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserEntity.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
Labels: backend

#43 Get posts by keyword
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#45 [Gcard 90] add FollowBoard method
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
Labels: backend

#46 [Gcard 91] add likePost method
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/model/LikePostEntity.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
Labels: backend

#47 Get all posts by userId
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend, unresolved-merge-conflict

#53 [Gcard 95] add deleteLikePost method
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
Labels: backend

#51 [Gcard 93] add deleteFollowBoard method
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
Labels: backend

#49 [Gcard 87] add getAllFollowUser & getFollowUserById
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserEntity.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
Labels: backend

#40 fix PropTypes issues
  frontend/src/components/AllBoard/AllBoardItem.jsx
  frontend/src/components/price/PriceItem.jsx
Labels: bug, regression-fix, frontend

#55 [Gcard 96] add getPostByBoardId method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#54 fix: can't create user
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/model/UserEntity.java
Labels: regression-fix, backend

#52 [Gcard 94] add getAllLikePost and getLikePostById method
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/model/LikePostEntity.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
Labels: backend

#50 [Gcard 92] add getAllFollowBoard and getFollowBoardById method
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
Labels: backend

#48 [Gcard 86] add deleteFollowUser method
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
Labels: backend

#58 [Gcard 84] database add ApplicationBoard table
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/repo/ApplicationBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
Labels: database, backend

#42 Setup spring boot ci
  .github/workflows/maven.yml
  backend/src/main/resources/application.properties
Labels: ci

#60 init labeler workflows
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#59 [Gcard 97] add createApplicationBoard method
  backend/src/main/java/com/pasdaven/backend/controller/ApplicationBoardController.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
Labels: backend

#65 add create .env file workflow
  .github/workflows/maven.yml
Labels: ci

#77 [Gcard 100] add createComment method
  backend/src/main/java/com/pasdaven/backend/controller/CommentController.java
  backend/src/main/java/com/pasdaven/backend/model/CommentEntity.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
Labels: regression-fix, backend

#82 fix: change <Link> to <a> to do a force reload
  frontend/src/components/sidebar/SidebarRow.jsx
Labels: bug, ui, frontend

#83 feat: add explore page
  frontend/src/Explore.jsx
  frontend/src/components/post/PostPreview.jsx
  frontend/src/components/search/SearchInput.jsx
Labels: ui, frontend

#73 fix Price.jsx position
  frontend/src/components/price/Price.jsx
Labels: ui, frontend, improvement

#85 [Gcard-107] Set up react router
  frontend/src/App.jsx
  frontend/src/BoardRoutes.jsx
  frontend/src/PostRoutes.jsx
  frontend/src/SidebarRoutes.jsx
  frontend/src/UserRoutes.jsx
Labels: frontend

#84 feat: add sidebar border
  frontend/src/components/sidebar/Sidebar.jsx
Labels: ui, frontend

#87 refactor: rearrange directories and rename files
  frontend/src/App.jsx
  frontend/src/components/board/AllBoardItem.jsx
  frontend/src/pages/AllBoard.jsx
  frontend/src/pages/Explore.jsx
  frontend/src/pages/Following.jsx
  frontend/src/routes/BoardRoutes.jsx
  frontend/src/routes/PostRoutes.jsx
  frontend/src/routes/SidebarRoutes.jsx
  frontend/src/routes/UserRoutes.jsx
Labels: refactor, frontend

#89 fix: rename dir Following -> follow
  frontend/src/components/follow/FollowingItem.jsx
  frontend/src/pages/Following.jsx
Labels: bug, frontend

#91 refactor: separate board tag to a component
  frontend/src/components/board/BoardTag.jsx
  frontend/src/components/post/PostPreview.jsx
Labels: refactor, frontend

#92 fix: remove isRequired of current prop
  frontend/src/components/sidebar/SidebarRow.jsx
Labels: bug, frontend

#76 [Gcard 98] add reviewApplicationBoard method
  backend/src/main/java/com/pasdaven/backend/controller/ApplicationBoardController.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
Labels: backend

#80 [Gcard 105] add getCommentsByPostId method
  backend/src/main/java/com/pasdaven/backend/controller/CommentController.java
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
Labels: backend

#70 [Gcard 104] add getUserByToken & getUserAccountByToken method
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: backend

#78 [Gcard 101] add updateComment method
  backend/src/main/java/com/pasdaven/backend/controller/CommentController.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
Labels: backend

#86 add Login.jsx
  frontend/src/Login.jsx
Labels: ui, frontend

#96 [Gcard 109] add getFansByUserId method
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
Labels: backend

#97 [Gcard 110] refactor getUserById method
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: refactor, backend

#98 add BoardInfo.jsx Board.jsx BoardRoutes.jsx
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/pages/Board.jsx
  frontend/src/routes/BoardRoutes.jsx
Labels: frontend

#100 [Gcard 60] add searchUserByName method
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/UserRepo.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
Labels: backend

#101 [Gcard 103] add searchBoardByName method
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/repo/BoardRepo.java
  backend/src/main/java/com/pasdaven/backend/service/BoardService.java
Labels: backend

#94 [Gcard-108] User Info page
  frontend/src/App.jsx
  frontend/src/components/user/UserInfoCard.jsx
  frontend/src/pages/User.jsx
  frontend/src/routes/UserRoutes.jsx
Labels: ui, frontend

#103 feat: set cross origin allowed all
  backend/src/main/java/com/pasdaven/backend/controller/ApplicationBoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/CommentController.java
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: backend

#105 [Gcard-112] get following list by user token
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
Labels: backend

#107 feat: return http status of UserController::login()
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
Labels: backend

#108 Login page connect api
  frontend/src/App.jsx
  frontend/src/Login.jsx
  frontend/src/pages/Login.jsx
Labels: frontend

#109 [Gcard-114] Post page
  frontend/src/components/comment/Comment.jsx
  frontend/src/components/post/PostContent.jsx
  frontend/src/pages/Post.jsx
  frontend/src/routes/PostRoutes.jsx
Labels: frontend

#115 Use env db's password
  backend/.env.example
  backend/src/main/resources/application.properties
Labels: backend

#116 Add db password to env
  .github/workflows/maven.yml
Labels: ci

#113 Edit get follow user by token method
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserEntity.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserFollowerData.java
Labels: backend

#114 [Gcard 115] add getLatestPost method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#119 [Gcard-120] feat: add get post by post id method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
Labels: backend

#122 add disable eslint when running npm start
  frontend/package.json
Labels: frontend

#117 feat: fetch data while init page
  frontend/src/pages/Explore.jsx
Labels: frontend

#125 [Gcard-122] Search result page fetch api
  frontend/src/App.jsx
  frontend/src/components/search/SearchInput.jsx
  frontend/src/pages/SearchResult.jsx
Labels: frontend

#118 [Gcard 118] add String apiUrl in BoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/BoardEntity.java
Labels: database, backend

#134 Add test to labeler
  .github/labeler.yml
Labels: ci

#133 [Gcard 124] add checkUserLikePostByToken method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
Labels: backend

#132 update board controller
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
Labels: backend

#131 [Gcard 116] refactor database entity string length
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/BoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/CommentEntity.java
  backend/src/main/java/com/pasdaven/backend/model/PostEntity.java
  backend/src/main/java/com/pasdaven/backend/model/UserEntity.java
Labels: database, backend, improvement

#128 Controller Test and other fixes
  backend/pom.xml
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
  backend/src/main/java/com/pasdaven/backend/service/FileSystemService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
  backend/src/test/java/com/pasdaven/backend/controller/ApplicationBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/CommentControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/InitSeedsTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserAccountControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
  backend/src/test/resources/seeds/application_boards.json
  backend/src/test/resources/seeds/boards.json
  backend/src/test/resources/seeds/comments.json
  backend/src/test/resources/seeds/posts.json
  backend/src/test/resources/seeds/users.json
Labels: backend, test

#137 Merge test to codecov branch
  backend/pom.xml
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserAccountController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
  backend/src/main/java/com/pasdaven/backend/service/FileSystemService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
  backend/src/main/java/com/pasdaven/backend/service/UserService.java
  backend/src/test/java/com/pasdaven/backend/controller/ApplicationBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/CommentControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/InitSeedsTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserAccountControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
  backend/src/test/resources/seeds/application_boards.json
  backend/src/test/resources/seeds/boards.json
  backend/src/test/resources/seeds/comments.json
  backend/src/test/resources/seeds/posts.json
  backend/src/test/resources/seeds/users.json
Labels: backend, test

#138 [Gcard-125] Init coverage report ci
  .github/workflows/maven.yml
Labels: ci

#135 Add database tag to labeler
  .github/labeler.yml
Labels: ci

#79 [Gcard 102] add deleteComment method
  backend/src/main/java/com/pasdaven/backend/controller/CommentController.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
Labels: backend

#130 Improve getPostByPostId method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/model/PostWithFollowUserData.java
Labels: database, backend, improvement

#143 Add frontend path rule of action
  .github/workflows/node.js.yml
Labels: ci

#144 Add directory rule of backend ci
  .github/workflows/maven.yml
Labels: ci

#140 add Register.jsx and add Route(/register) in App.jsx
  frontend/src/App.jsx
  frontend/src/pages/Register.jsx
Labels: frontend

#146 Remaining maven controller test
  backend/pom.xml
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/model/FollowBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserEntity.java
  backend/src/main/java/com/pasdaven/backend/model/LikePostEntity.java
  backend/src/main/java/com/pasdaven/backend/repo/LikePostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/test/java/com/pasdaven/backend/controller/CommentControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/FollowBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/FollowUserControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/InitSeedsTest.java
  backend/src/test/java/com/pasdaven/backend/controller/LikePostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/resources/seeds/follow_boards.json
  backend/src/test/resources/seeds/follow_users.json
  backend/src/test/resources/seeds/like_posts.json
Labels: database, backend, test

#150 get comment by desc
  backend/src/main/java/com/pasdaven/backend/repo/CommentRepo.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
Labels: backend

#124 [Gcard-119] Post page fetch api
  frontend/src/components/comment/Comment.jsx
  frontend/src/components/post/PostContent.jsx
  frontend/src/components/user/UserAvatarName.jsx
  frontend/src/pages/Post.jsx
Labels: frontend

#147 feat: set db name at .env file
  .github/workflows/maven.yml
  backend/.env.example
  backend/src/main/resources/application.properties
Labels: backend, ci

#151 fix: api's format change
  frontend/src/pages/Post.jsx
Labels: frontend

#153 fix create post method
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
Labels: backend

#154 fix delete Board method
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/repo/FollowBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/repo/PostRepo.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/PostService.java
Labels: backend

#149 update PostEntity with delete score prop
  backend/src/main/java/com/pasdaven/backend/controller/PostController.java
  backend/src/main/java/com/pasdaven/backend/model/PostEntity.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/resources/seeds/posts.json
Labels: database, backend, test

#126 [Gcard-123] feat: create post page
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/pages/NewPost.jsx
  frontend/src/routes/PostRoutes.jsx
  frontend/src/routes/SidebarRoutes.jsx
Labels: frontend

#152 add Board.jsx BoardInfo.jsx AllBoardItem.jsx
  frontend/src/components/board/AllBoardItem.jsx
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/pages/Board.jsx
Labels: frontend

#148 add Following.jsx and FollowingItem.jsx
  frontend/src/components/follow/FollowingItem.jsx
  frontend/src/pages/Following.jsx
Labels: frontend

#155 Frontend auth feature
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/components/post/PostContent.jsx
  frontend/src/pages/Following.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/NewPost.jsx
Labels: frontend

#156 feat: user nav card
  frontend/src/App.jsx
  frontend/src/components/price/Price.jsx
  frontend/src/components/user/UserNavCard.jsx
  frontend/src/pages/Logout.jsx
Labels: frontend

#127 Improve some ui components
  frontend/src/App.jsx
  frontend/src/components/board/AllBoardItem.jsx
  frontend/src/components/follow/FollowingItem.jsx
  frontend/src/components/post/PostPreview.jsx
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/pages/AllBoard.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/User.jsx
Labels: frontend, improvement

#157 fix: async problem cause the page break
  frontend/src/pages/Board.jsx
  frontend/src/pages/Post.jsx
  frontend/src/pages/User.jsx
Labels: bug, frontend

#158 Price
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/main/java/com/pasdaven/backend/repo/BoardRepo.java
  backend/src/main/java/com/pasdaven/backend/service/BoardService.java
  backend/src/test/resources/seeds/boards.json
Labels: backend, test

#159 feat: fetch user data on user nav card
  frontend/src/components/user/UserNavCard.jsx
Labels: frontend

#145 [Gcard-126] Add BoardControllerTest.java, renew test case boards.json
  .env
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/test/java/com/pasdaven/backend/controller/BoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
  backend/src/test/resources/seeds/boards.json
Labels: backend, test

#160 create getPriceByBoard test and fix other method
  backend/src/main/java/com/pasdaven/backend/controller/BoardController.java
  backend/src/test/java/com/pasdaven/backend/controller/BoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/PostControllerTest.java
Labels: backend, test

#163 feat: filter of search feature
  frontend/src/components/search/AllSearchResult.jsx
  frontend/src/components/search/SearchFilter.jsx
  frontend/src/pages/SearchResult.jsx
Labels: frontend

#162 fix: fetch user avatar for comment box
  frontend/src/components/post/PostContent.jsx
Labels: bug, frontend

#161 Improve some css styles
  frontend/src/components/board/AllBoardItem.jsx
  frontend/src/components/board/BoardTag.jsx
  frontend/src/components/follow/FollowingItem.jsx
  frontend/src/components/post/PostPreview.jsx
  frontend/src/components/user/UserAvatarName.jsx
Labels: frontend

#166 Increase coverage
  backend/src/main/java/com/pasdaven/backend/controller/FollowBoardController.java
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/BoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/CommentEntity.java
  backend/src/main/java/com/pasdaven/backend/model/PostEntity.java
  backend/src/main/java/com/pasdaven/backend/model/UserAccountEntity.java
  backend/src/main/java/com/pasdaven/backend/model/UserEntity.java
  backend/src/main/java/com/pasdaven/backend/repo/FollowBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/service/FollowBoardService.java
Labels: database, backend

#170 edit: remove board entity json ignore
  backend/src/main/java/com/pasdaven/backend/model/FollowBoardEntity.java
Labels: database, backend

#173 fix: syntax problem
  .github/workflows/maven.yml
  .github/workflows/node.js.yml
Labels: ci

#171 fix "All board page hook break causing constant re-rendering"
  frontend/src/pages/AllBoard.jsx
Labels: frontend

#169 fix BoardInfo.jsx and Board.jsx problems
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/pages/Board.jsx
Labels: frontend

#172 all follow boards page
  frontend/src/components/board/BoardInfo.jsx
  frontend/src/pages/AllFollowBoardsPage.jsx
  frontend/src/routes/BoardRoutes.jsx
Labels: frontend

#180 test
  .github/workflows/maven.yml
Labels: ci

#184 feat: add check follow user method
  backend/src/main/java/com/pasdaven/backend/controller/FollowUserController.java
Labels: backend

#185 add checkFollowUser test
  backend/src/test/java/com/pasdaven/backend/controller/FollowUserControllerTest.java
Labels: backend, test

#176 fix: Chinese input press enter force submit
  frontend/src/components/post/PostContent.jsx
Labels: bug, frontend, ux

#175 [Gcard-147] Price component connect to price api
  frontend/src/components/price/Price.jsx
  frontend/src/components/price/PriceItem.jsx
Labels: frontend

#186 Use create .env action
  .github/workflows/maven.yml
Labels: ci

#179 [Gcard-57] Request, Review board page
  backend/src/main/java/com/pasdaven/backend/controller/ApplicationBoardController.java
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/repo/ApplicationBoardRepo.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  frontend/src/App.jsx
  frontend/src/components/board/ReviewBoardItem.jsx
  frontend/src/components/user/UserNavCard.jsx
  frontend/src/pages/RequestBoard.jsx
  frontend/src/pages/ReviewBoard.jsx
Labels: backend, frontend

#174 All like post page
  backend/src/main/java/com/pasdaven/backend/controller/LikePostController.java
  backend/src/main/java/com/pasdaven/backend/model/LikePostEntity.java
  frontend/src/pages/AllLikePostPage.jsx
  frontend/src/routes/PostRoutes.jsx
Labels: database, backend, frontend

#181 After approve application board, create new board in board table
  backend/src/main/java/com/pasdaven/backend/controller/ApplicationBoardController.java
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
Labels: database, backend

#182 UserController searchUserByName method add return value
  backend/src/main/java/com/pasdaven/backend/controller/UserController.java
  backend/src/main/java/com/pasdaven/backend/model/UserWithFollowUserData.java
Labels: database, backend

#188 increase coverage
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/FollowUserFollowerData.java
  backend/src/main/java/com/pasdaven/backend/model/PostWithFollowUserData.java
  backend/src/main/java/com/pasdaven/backend/service/ApplicationBoardService.java
  backend/src/main/java/com/pasdaven/backend/service/CommentService.java
  backend/src/main/java/com/pasdaven/backend/service/FollowUserService.java
  backend/src/main/java/com/pasdaven/backend/service/JWTService.java
  backend/src/main/java/com/pasdaven/backend/service/LikePostService.java
  backend/src/main/java/com/pasdaven/backend/service/UserAccountService.java
Labels: database, backend

#189 Increase coverage to 100%
  backend/src/main/java/com/pasdaven/backend/model/ApplicationBoardEntity.java
  backend/src/main/java/com/pasdaven/backend/model/UserWithFollowUserData.java
  backend/src/test/java/com/pasdaven/backend/BackendApplicationTests.java
  backend/src/test/java/com/pasdaven/backend/controller/ApplicationBoardControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/LikePostControllerTest.java
  backend/src/test/java/com/pasdaven/backend/controller/UserControllerTest.java
Labels: database, backend, test
